doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="en"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="en"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="en"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->

head
    include modules/head/head
body.pageBody

    section.pageWrapper

        include modules/header/header

        .pageBuffer
        
    footer.pageFooter
        include modules/footer/footer

    script(src='js/main.js')    
        