{

    "root": true,

    "env": {
        "node": true,
        "browser": true,
        "commonjs": true,
        "jquery": true,
        "es6": true
    },

    "globals": {
        "tars": true
    },

    "extends": "eslint:recommended",


    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },

    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "brace-style": [2, "1tbs"],
        "camelcase": [2, { "properties": "always" }],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "consistent-return": 0,
        "curly": [2, "all"],
        "default-case": 2,
        "dot-notation": [2, { "allowKeywords": true }],
        "eol-last": 2,
        "eqeqeq": [2, "smart"],
        "guard-for-in": 2,
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "new-cap": 2,
        "new-parens": 2,
        "no-alert": 2,
        "no-array-constructor": 2,
        "no-caller": 2,
        "no-debugger": 0,
        "no-delete-var": 2,
        "no-eval": 0,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implied-eval": 2,
        "no-invalid-this": 1,
        "no-iterator": 2,
        "no-label-var": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 1,
        "no-mixed-spaces-and-tabs": [2, false],
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-nested-ternary": 2,
        "no-new-func": 2,
        "no-new-object": 2,
        "no-new-wrappers": 2,
        "no-octal": 2,
        "no-octal-escape": 2,
        "no-process-exit": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-sequences": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-spaced-func": 2,
        "no-trailing-spaces": 2,
        "no-undef": 2,
        "no-undef-init": 2,
        "no-undefined": 2,
        "no-unused-expressions": 2,
        "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
        "no-use-before-define": 2,
        "no-with": 2,
        "quotes": [2, "single"],
        "radix": 2,
        "semi": [2, "always"],
        "semi-spacing": [2, {"before": false, "after": true}],
        "keyword-spacing": 2,
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "space-infix-ops": 2,
        "space-unary-ops": [2, {"words": true, "nonwords": false}],
        "spaced-comment": [2, "always", { "exceptions": ["-"]}],
        "strict": 0,
        "valid-jsdoc": [0, {"requireReturnDescription": false, "requireReturn": false}],
        "wrap-iife": [2, "inside"],
        "yoda": [2, "never"],

        // Previously on by default in node environment
        "no-catch-shadow": 0,
        "no-console": 0,
        "no-mixed-requires": 2,
        "no-new-require": 2,
        "no-path-concat": 2,
        "global-strict": [0, "always"],
        "handle-callback-err": [2, "err"],

        // ES6
        "arrow-spacing": [2, {"before": true, "after": true}],
        "constructor-super": 2,
        "no-confusing-arrow": 2,
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "prefer-arrow-callback": 0,
        "prefer-template": 0,
        "require-yield": 2,
        "no-var": 1
    }
}
