meta(charset="utf-8")
title. Title
meta(content="" name="author")
meta(content="" name="description")
meta(content="" name="keywords")
meta(content="telephone=no" name="format-detection")
|<!--[if lt IE 9 ]><meta content="IE=edge" http-equiv="X-UA-Compatible"><meta content="no" http-equiv="imagetoolbar"><![endif]-->
link(href="css/main.css" rel="stylesheet" type="text/css")
link(href="css/developer.css" rel="stylesheet" type="text/css")
script.
    (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)

<script src="js/vendors/jquery-1.11.1.min.js" type="text/javascript"></script>
|<!--[if lt IE 9 ]><script src="/js/vedors/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->
