  $sample-image-x: 0px;
  $sample-image-y: 0px;
  $sample-image-offset-x: 0px;
  $sample-image-offset-y: 0px;
  $sample-image-width: 454px;
  $sample-image-height: 340px;
  $sample-image-total-width: 454px;
  $sample-image-total-height: 340px;
  $sample-image-image: 'sprite.png';
  $sample-image: 0px 0px 0px 0px 454px 340px 454px 340px 'sprite.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
