  $callout_fav-hover-x: 0px;
  $callout_fav-hover-y: 104px;
  $callout_fav-hover-offset-x: 0px;
  $callout_fav-hover-offset-y: -104px;
  $callout_fav-hover-width: 16px;
  $callout_fav-hover-height: 17px;
  $callout_fav-hover-total-width: 18px;
  $callout_fav-hover-total-height: 143px;
  $callout_fav-hover-image: 'svg-fallback-sprite.png';
  $callout_fav-hover: 0px 104px 0px -104px 16px 17px 18px 143px 'svg-fallback-sprite.png' 'callout_fav-hover';
  $callout_fav-on-x: 0px;
  $callout_fav-on-y: 125px;
  $callout_fav-on-offset-x: 0px;
  $callout_fav-on-offset-y: -125px;
  $callout_fav-on-width: 18px;
  $callout_fav-on-height: 18px;
  $callout_fav-on-total-width: 18px;
  $callout_fav-on-total-height: 143px;
  $callout_fav-on-image: 'svg-fallback-sprite.png';
  $callout_fav-on: 0px 125px 0px -125px 18px 18px 18px 143px 'svg-fallback-sprite.png' 'callout_fav-on';
  $callout_metro-msk-x: 0px;
  $callout_metro-msk-y: 0px;
  $callout_metro-msk-offset-x: 0px;
  $callout_metro-msk-offset-y: 0px;
  $callout_metro-msk-width: 12px;
  $callout_metro-msk-height: 10px;
  $callout_metro-msk-total-width: 18px;
  $callout_metro-msk-total-height: 143px;
  $callout_metro-msk-image: 'svg-fallback-sprite.png';
  $callout_metro-msk: 0px 0px 0px 0px 12px 10px 18px 143px 'svg-fallback-sprite.png' 'callout_metro-msk';
  $callout_metro-spb-x: 0px;
  $callout_metro-spb-y: 14px;
  $callout_metro-spb-offset-x: 0px;
  $callout_metro-spb-offset-y: -14px;
  $callout_metro-spb-width: 12px;
  $callout_metro-spb-height: 10px;
  $callout_metro-spb-total-width: 18px;
  $callout_metro-spb-total-height: 143px;
  $callout_metro-spb-image: 'svg-fallback-sprite.png';
  $callout_metro-spb: 0px 14px 0px -14px 12px 10px 18px 143px 'svg-fallback-sprite.png' 'callout_metro-spb';
  $callout_star-off-x: 0px;
  $callout_star-off-y: 28px;
  $callout_star-off-offset-x: 0px;
  $callout_star-off-offset-y: -28px;
  $callout_star-off-width: 14px;
  $callout_star-off-height: 14px;
  $callout_star-off-total-width: 18px;
  $callout_star-off-total-height: 143px;
  $callout_star-off-image: 'svg-fallback-sprite.png';
  $callout_star-off: 0px 28px 0px -28px 14px 14px 18px 143px 'svg-fallback-sprite.png' 'callout_star-off';
  $callout_star-on-x: 0px;
  $callout_star-on-y: 46px;
  $callout_star-on-offset-x: 0px;
  $callout_star-on-offset-y: -46px;
  $callout_star-on-width: 14px;
  $callout_star-on-height: 14px;
  $callout_star-on-total-width: 18px;
  $callout_star-on-total-height: 143px;
  $callout_star-on-image: 'svg-fallback-sprite.png';
  $callout_star-on: 0px 46px 0px -46px 14px 14px 18px 143px 'svg-fallback-sprite.png' 'callout_star-on';
  $searchBar_arrows-x: 0px;
  $searchBar_arrows-y: 64px;
  $searchBar_arrows-offset-x: 0px;
  $searchBar_arrows-offset-y: -64px;
  $searchBar_arrows-width: 8px;
  $searchBar_arrows-height: 16px;
  $searchBar_arrows-total-width: 18px;
  $searchBar_arrows-total-height: 143px;
  $searchBar_arrows-image: 'svg-fallback-sprite.png';
  $searchBar_arrows: 0px 64px 0px -64px 8px 16px 18px 143px 'svg-fallback-sprite.png' 'searchBar_arrows';
  $searchBar_arrowsHover-x: 0px;
  $searchBar_arrowsHover-y: 84px;
  $searchBar_arrowsHover-offset-x: 0px;
  $searchBar_arrowsHover-offset-y: -84px;
  $searchBar_arrowsHover-width: 8px;
  $searchBar_arrowsHover-height: 16px;
  $searchBar_arrowsHover-total-width: 18px;
  $searchBar_arrowsHover-total-height: 143px;
  $searchBar_arrowsHover-image: 'svg-fallback-sprite.png';
  $searchBar_arrowsHover: 0px 84px 0px -84px 8px 16px 18px 143px 'svg-fallback-sprite.png' 'searchBar_arrowsHover';

  @mixin svg-sprite-width($svg-sprite) {
    width: nth($svg-sprite, 5);
  }

  @mixin svg-sprite-height($svg-sprite) {
    height: nth($svg-sprite, 6);
  }

  @mixin svg-sprite-position($svg-sprite) {
    $svg-sprite-offset-x: nth($svg-sprite, 3);
    $svg-sprite-offset-y: nth($svg-sprite, 4);
    background-position: $svg-sprite-offset-x  $svg-sprite-offset-y;
  }

  @mixin svg-sprite-image($svg-sprite) {
    $svg-sprite-image: nth($svg-sprite, 9);
    background-image: url(../img/rasterSvgSprite/#{$svg-sprite-image});
  }
